<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrador.Urban-Sport</title>

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- js glider -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css" />
    <!-- styles -->
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/admin/panel.css">

  </head>

  <body>
    <div class="container">
      <!-- HEADER -->
      <header class="main-header">
        <img src="/images/logo_transparent.png" alt="logotipo" />

        <a href="#" class="toggle-nav">
          <span class="fa fa-bars" onclick="openNav()"></span>
        </a>
        <!-- MENU DESKTOP -->
        <nav class="main-nav">
          <ul>
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Niños</a></li>
            <li><a href="#">Novedades</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
        <!-- search box -->
        <div class="search-box">
          <input
            class="search-txt"
            type="text"
            name=""
            placeholder="to search"
          />
          <a href="#" class="search-btn">
            <i class="fas fa-search"></i>
          </a>
        </div>
        <!-- MENU MOBILE -->
        <div id="myNav" class="overlay">
          <!-- <div class="search">
            <input type="text" class="input" placeholder="Search..." />
            <button class="btn-1">
              <i class="fas fa-search"></i>
            </button>
          </div> -->
          <div class="header-overlay">
            <img src="/images/logo_transparent.png" alt="logotipo" />

            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
              >&times;</a
            >
          </div>

          <nav class="menu-mobile overlay-content">
            <ul class="main-menu">
              <li>
                <a href="#">Hombre <i class="fas fa-angle-right"></i></a>
              </li>
              <li><a href="#">Mujer</a></li>
              <li><a href="#">Niños</a></li>
              <li><a href="#">Colecciones</a></li>
              <li><a href="#">Marcas</a></li>
              <li><a href="#">Deportes</a></li>
              <li><a href="#">Training</a></li>
              <li><a href="#">Mi cuenta</a></li>
              <li><a href="#">Buscador de tiendas</a></li>
              <li><a href="#">Ayuda</a></li>
              <li><a href="#">Autogestion de Devolucion</a></li>
              <li><a href="#">Seguimiento de Pedidos</a></li>
            </ul>
          </nav>
        </div>
        <!-- menu del header mobile icons -->
        <div class="icon-btn">
          <i class="fas fa-user"></i>
          <i class="fas fa-shopping-cart"></i>
          <i class="fas fa-heart"></i>
        </div>
      </header>

        <main>
            <h1>Panel de Administración</h1>
            <div  style="overflow:auto;"  class='panel'>

              <table>
                <caption> Productos Actuales  </caption>

                <thead>
                  <tr>
                    <th colspan="1" scope="col">#</th>
                    <th colspan="2" scope="col">Nombre</th>
                    <th colspan="3" scope="col">Descripción</th>
                    <th colspan="4" scope="col">Precio</th>
                    <th colspan="5" scope="col">Imágenes</th>
                    <th colspan="6" scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody  >
                  <tr>
                    <td colspan="1" scope="col" >product.id</td>
                    <td colspan="2" scope="col">product.title</td>
                    <td colspan="3" scope="col">product.description</td>
                    <td colspan="4" scope="col">product.pricing</td>
                    <td colspan="5" scope="col"><a href="#">Ver imagen</a></td>      
                    <td colspan="6" scope="col"><a href="#">Editar</a> - <a href="#">Eliminar</a></td>
                  <tr>
                    <td colspan="1" scope="col" >product.id</td>
                    <td colspan="2" scope="col">product.title</td>
                    <td colspan="3" scope="col">product.description</td>
                    <td colspan="4" scope="col">product.pricing</td>
                    <td colspan="5" scope="col"><a href="#">Ver imagen</a></td>
                    <td colspan="6" scope="col"><a href="#">Editar</a> - <a href="#">Eliminar</a></td>
                  </tr>
                  <tr>
                    <td colspan="1" scope="col" >product.id</td>
                    <td colspan="2" scope="col">product.title</td>
                    <td colspan="3" scope="col">product.description</td>
                    <td colspan="4" scope="col">product.pricing</td>
                    <td colspan="5" scope="col"><a href="#">Ver imagen</a></td>
                    <td colspan="6" scope="col"><a href="#">Editar</a> - <a href="#">Eliminar</a></td>
                  </tr>
                  <tr>
                    <td colspan="1" scope="col" >product.id</td>
                    <td colspan="2" scope="col">product.title</td>
                    <td colspan="3" scope="col">product.description</td>
                    <td colspan="4" scope="col">product.pricing</td>
                    <td colspan="5" scope="col"><a href="#">Ver imagen</a></td>
                    <td colspan="6" scope="col"><a href="#">Editar</a> - <a href="#">Eliminar</a></td>
                  </tr>
                  <tr>
                    <td colspan="1" scope="col" >product.id</td>
                    <td colspan="2" scope="col">product.title</td>
                    <td colspan="3" scope="col">product.description</td>
                    <td colspan="4" scope="col">product.pricing</td>
                    <td colspan="5" scope="col"><a href="#">Ver imagen</a></td>
                    <td colspan="6" scope="col"><a href="#">Editar</a> - <a href="#">Eliminar</a></td>
                  </tr>
                
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="6" scope="col">Total productos</th>
                    <th colspan="12" scope="col" >Cantidad productos</th>
                  </tr>
                </tfoot>
                
              </table>
          
          
          </div>  


            
        </main>
    

        <!-------------- FOOTER ------------------------>
       
        <footer class="footer-container">
         <div class="main-container">
           <div class="logo-container">
             <img src="/images/img/logo.png" class="logo-footer">
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe repudiandae quidem quisquam optio exercitationem corrupti eius non facilis.</p>
           </div>
           <ul>
             <li><a href="#">Buscador de tiendas</a></li>
             <li><a href="#">Envio</a></li>
             <li><a href="#">Botón de arrepentimiento</a></li>
             <li><a href="#">Devoluciones</a></li>
           </ul>
           <ul>
             <li><a href="#">Guia de talles</a></li>
             <li><a href="#">Formas de Pago</a></li>
             <li><a href="#">Servicio al cliente</a></li>
             <li><a href="#">servicio@urbansport.com</a></li>
           </ul>
           <div class="newsletter-footer">
             <h3>newslletter</h3>
             <form action="">
               <i class="fas fa-envelope"></i>
               <input type="email" name="name" placeholder="ingresa tu email" required>
               <button type="submit"><i class="fas fa-arrow-right"></i></button>
             </form>
           </div> 
         </div>
         <hr>
           <p class="copyright">Copyright 2021 - Powered by Grupo5</p>
       </footer>
       
       <script src="/javascripts/home.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
</body>
</html>