<!-- dashboard admin -->
<div class="sidebar-admin">
    <div class="sidebar-admin-principal">
      <h2 class="h2-dashboard">
        <a href="/admin" class="a-dashboard">
          <i class="fas fa-home"></i>
          <span>Administrador</span>
        </a>
      </h2>
    </div>
    <div class="sidebar-admin-menu">
      <ul>
        <li>
          <a href="/admin/panelProductos">
            <span class="fas fa-boxes"></span> <span>Panel de Productos</span>
          </a>
        </li>
        <li>
          <a href="/admin/agregar" class="add">
            <span class="fas fa-plus"></span> <span>Agregar Producto</span>
          </a>
        </li>
        <br/>
        <li>
          <a href="/admin/categories">
            <span class="fas fa-th-large"></span> <span>Panel de Categorias</span>
          </a>
        </li>
        <li>
          <a href="/admin/categories/create" class="add">
            <span class="fas fa-plus"></span> <span>Agregar Categoria</span>
          </a>
        </li>
        <br/>
        <li>
          <a href="/admin/subcategories">
            <span class="fas fa-th"></span> <span>Panel de Subcategorias</span>
          </a>
        </li>
        <li>
          <a href="/admin/subcategories/create" class="add">
            <span class="fas fa-plus"></span> <span>Agregar Subcategoria</span>
          </a>
        </li>
        <br/>
        <li>
          <a href="/admin/brands">
            <span class="fas fa-tags"></span> <span>Panel de Marcas</span>
          </a>
        </li>
        <li>
          <a href="/admin/brands/create" class="add">
            <span class="fas fa-plus"></span> <span>Agregar Marca</span>
          </a>
        </li>
        <br/>
        <li>
          <a href="/admin/colours">
            <span class="fas fa-palette"></span> <span>Panel de Colores</span>
          </a>
        </li>
        <li>
          <a href="/admin/colours/create" class="add">
            <span class="fas fa-plus"></span> <span>Agregar Color</span>
          </a>
        </li>
        <br/>
        <li>
          <a href="/admin/talles">
            <span class="fas fa-ruler-horizontal"></span> <span>Panel de Talles</span>
          </a>
        </li>
        <li>
          <a href="/admin/talles/create" class="add">
            <span class="fas fa-plus"></span> <span>Agregar Talle</span>
          </a>
        </li>
        <br/>
        <li>
          <a href="/admin/users">
            <span class="fas fa-users"></span> <span>Panel de Usuarios</span></a
          >
        </li>
        <br/>
        <li>
          <a href="/"><span class="fas fa-sign-out-alt"></span> <span>Salir</span></a>
        </li>
      </ul>
    </div>
  </div>