<!DOCTYPE html>
<header>
    <h2>
      <label for="nav-toggle-admin">
      </label
      >Panel de Administración
    </h2>
    <form action="admin/search" method="get">
      <div class="search-wrapper">
        
        <input type="text" name="keywords" placeholder="Buscar"/>
        <button type="submit">
            <span class="las la-search"></span>
        </button>
      </div>
    </form>
    <div class="user-admin">
      <i class="fas fa-user-circle"></i>
      <div>
        <h4>Administrador</h4>
      </div>
    </div>
  </header>