<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <title>Iniciar Sesión</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400;1,700&display=swap"  rel="stylesheet"/>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="form-register">
      <h4 class="titulo">Iniciar Sesión</h4>
      <input
        class="controls"
        type="email"
        name="correo"
        id="correo"
        placeholder="Ingrese su Email"
        required
      />
      <input
        class="controls"
        type="password"
        name="correo"
        id="correo"
        placeholder="Ingrese su Contraseña"
        required
      />
      <p class="condiciones">
        <input type="checkbox" name="recordar sesion" required />
        <label for="recordar sesion">¿Recordar usuario?</label>
      </p>
      <input class="botons" type="submit" value="Ingresar" />
      <p class="condiciones">
        <a class="condiciones" href="#">¿Olvidaste tu contraseña?</a>
      </p>
    </section>
  </body>
</html>
