
:root {
    --primary: #003F49;
    --secondary: #008489;
    --tertiary: #F0BB3C;
    --light-grey: #F5F5F5;
    --grey: #7C7C7C;
    --font_roboto: 'Roboto', sans-serif;}


.container-newprod{

display: grid;
grid-template-columns: 20% 80%;
line-height: 3.5;
text-align: center;
}

.administrador{
border: solid var(--grey) ;
background-color: var(--primary);
color:var(--light-grey)
}
h4{
    background-color: var(--grey);
}
.administrador li a{
    color: var(--light-grey);
}
h1{
    line-height: 2;
}

.administrador li a:hover{
    color:var(--tertiary);
    transition:all 1s ease-in-out;
    }
    
.datos-new{
 opacity: 0;
}
.agregar::selection .datos-new:active{
    display: grid;
    grid-template-columns: repeat(4,25%);
    margin-left: 35px;
    opacity: 1;

    animation-name: slidein;
    animation-duration: 4s;
}


@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 200%;
      margin-left:5%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }








@media screen and (min-width: 1024px){


  

}







  /* @media screen and (max-height: 450px) {
    
    @media screen and (min-width:768px){ */

