@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('/stylesheets/home-header.css');
@import url('/stylesheets/home-footer.css');
@import url('/stylesheets/modal.css');
/* General */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 10px 12px 0 12px;
    font-family: var(--font-roboto);
    line-height: 1.5;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}

/*  --------------- BANNER ---------------  */

.banner-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23f4dc27' fill-opacity='0.2'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    width: 100%;
    height: 180px;
    padding: 10px ;
    margin: 70px 0;
}
.banner-one h2{
    text-transform: uppercase;
    margin: 20px 0 0 0;
}
.banner-one p{
    text-align: center;
}
/* -------------------categories------------------ */


.categories{
    max-width: 1100px;
    margin: 70px auto;
    
}
.categories .small-container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.categories .col-3{
    flex-basis: 30%;
    min-width: 220px;
    margin-bottom: 30px;
    position: relative;

}
.categories .col-3 a{
    position:absolute;
    text-transform: uppercase;
    color: #f64749;
    font-size: 2rem;
    top: 40%;
    left: 30%;
    z-index: 1;
}
.categories .col-3 a:hover{
    color: #256eff;
}


.categories .col-3 img{
    width: 100%;
}
.categories .col-3 img:hover{
    opacity: .5;
}

/*  --------------- CAROUSEL ONE ---------------  */

.carousel-container-one .carousel-element{ 
    background-color: #ffc10731;
    border: rgb(255, 255, 255) 5px solid;
    max-width: 430px;
}
.carousel-container-one .carousel-element{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 6px;
    text-align: center;
    transition: all 0.25s;

}
.carousel-container-one .carousel-element:hover{
    transform: translateY(-15px);
    box-shadow: 1 12px 16px rgba(0, 0, 0, 0.2);
}
.carousel-container-one .carousel-element img{
    /* padding: 5px; */
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.carousel-container-one .carousel-element h4{
    font-size: 0.9rem;
}
.carousel-container-one .carousel-element p{
    font-size: .7rem;
    padding: 0 3px;
}
.carousel-container-one .carousel-element a{
    padding: 3px;
    font-size: .5rem;
    margin-left: 10px;
    color: white;
}
.carousel-container-one .carousel-element a.btn-r{
    text-transform: uppercase; 
    background-color: #f64749 ;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    border: .5px solid #ffc1079a;
    font-size: .5rem;
}
.carousel-arrows{
   
    margin-bottom: 15px;
}

/* .carousel-one .section-product{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin: 15px 0;
} */
/*  --------------- CAROUSEL TWO ---------------  */
.carousel-container{
    position: relative;
    margin: 15px; 
}

.carousel-two .new-product{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px 0;
    text-align: center;
}

.carousel-anterior,
.carousel-siguiente{
    position:absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: rgb(65, 60, 60);
    opacity: 1;
}
.carousel-anterior{
    left: -20px;
}
.carousel-siguiente{
    right: -10px;
}
.carousel-siguiente i,
.carousel-anterior i{
    font-size: 2rem;
}
.carousel-container .carousel-element{
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 6px;
    text-align: center;
    transition: all 0.25s;
}
.carousel-container .carousel-element img{
    width: 100%;
    object-fit: cover ;
}
.carousel-container .carousel-element a{
    padding: 5px;
}
.carousel-container .carousel-element h4{
    text-transform: uppercase;
}
.carousel-container .carousel-element p{
    padding: 5px;
}
.carousel-container .carousel-element .carousel-btn{
    background: #f0bb3c;
    text-transform: uppercase;
    color: #e9eaf7;
    border: solid .5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 5px;
    margin: 3px;

}
/*------------- titulos de los productos --------------- */
.title-products{

    text-transform: uppercase;
    text-align: center;
    margin: 30px auto 50px;
    position: relative;
    line-height: 40px;
    color: #555;
}
.title-products::after{
    content: '';
    background-color: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/*  --------------- PRODUCTO MAIN ---------------  */
.product-main{
    display: flex;
    justify-content: space-around;  
      
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 450px;
    padding: 5px;
    font-family: arial;
}
.card p{
    max-width: 120px;
    text-align: center;
}
.card h6{
    color: forestgreen;
    font-size: 15px;
}
.card h3{
    text-transform: capitalize;
    border-bottom: solid 1px rgba(179, 173, 173, 0.897);
}

.card .choreo-src{
    max-width: 200px;
    max-height: 190px;
    
    border-radius: 5px;
}
.card .btn {
    padding: 2px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    border: solid .1px rgb(48, 48, 49);
    background-color:var(--amarillo);
    border-radius: 10px;
    color: #fff;

}
.product-main  .btn:hover {
    opacity: .5;
}
.card .rating i{
    color: var(--amarillo);
    padding: 3px;
}

.imgContainer{
    width: 100px;
    text-align: center;
}

.choreo-src{
    width: 100%;
}
/* NEWSLETTER */

.news-letter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('/images/img/landscape.jpg');
    background-position: cover;
    background-size: 100%;
    border: rgb(184, 155, 155) 2px solid;
    width: 100%;
    height: 50vh;
    padding: 15px;
    margin: 15px 0;
}

.news-letter p{
    font-size: 1.5rem ;
    color: #e9eaf7;
}

.news-letter h3{
    text-transform: uppercase;
    font-size: 2rem;
    color: #f64749;
}


.purchase-info{
    margin: 1.5rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.purchase-info input,
.purchase-info .btn-info{
    
    border: 1.5px solid #fff;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}


.purchase-info input#email{
    width: 300px;
    background: #256eff;
}
.purchase-info input#email:hover{
    color: #008489;
    opacity: .7;
}
.purchase-info input#email::placeholder{
    color: #252525;
}
.purchase-info .btn-info{
    cursor: pointer;
    color: #fff;

}

/* SOCIAL MEDIA  */
.social-media{
    background-color: rgba(253, 249, 4, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
}
.social-media i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: #000;
    border: 1px solid #000;
    margin: 0 .2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-media i:hover{
    color: goldenrod;
    padding: 0;
}
/*  boton ver mas */
button.more-btn {
    width: 100%;
    text-transform: uppercase;
    height: 45px;
    border-radius: 20px;
    margin: 10px 0;
    background-color: #10144e;
    
}
button.more-btn:hover{
    color: #008489;
    opacity: .9;
}
button.more-btn a{
    color: white;
    padding: 15px 45px;
}
button.more-btn a:hover{
    color: var(--light-grey);
    opacity: .9;
}
/* button back to start */

.top-container{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6rem;
    height: 6rem;
    z-index: -1;
}
.top-button{
    width: 0.1rem;
    height: 0.1rem;
    background: #256eff;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: -1;
    transition: .2s;
}

.top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .top-button{
    animation: popup .3s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6rem;
        height: 6rem;
    }
}

/*---------------  query TABLET --------------- */

@media screen and (min-width:768px){
    .banner-one{
        display: block;
    }
    .banner-one h2{
        text-transform: uppercase;
        margin: 20px 0 0 0;
        text-align: center;
    }  
    .product-main{
        
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        /* border: 3px solid red; */
    }

    /* carousel one  */
    .carousel-container-one .carousel-element img{
        height: 70%;

    }
    .carousel-container-one .carousel-element p.btn-r{
        position: relative;
        left: 50px;
        bottom: -5px;
    }

    .categories .small-container .row{
        flex-direction: row;
    }
    
}


@media screen and (min-width: 1024px){
    .product-main .img-container{
        max-width: 449px;

    }
    .carousel-container-one .carousel-element a.btn-r{
    font-size: 1rem;
    }
    .carousel-container-one .carousel-element p {
        font-size: 1rem;
        padding: 3px;
    }
    .carousel-container-one .carousel-element h4 {
        font-size: 1.3rem;
    }
    .main-header .main-nav{
        display: block;
        
    }
    .main-header .toggle-nav {
        display: none;
    }
   
    .main-header .icon-btn{
        font-size: 25px;
        padding-left: 10px;
    }
    .search-box{
        display: block;
    }
    .main-footer ul{
        display: flex;
        flex-direction: row;
    }

}

@media screen and (min-width: 1440px){
    .product-main .img-container {
        max-width: 420px;}
        .choreo-src img{
            max-width: 420px;
        }
}