@import url("/stylesheets/home.css");

/*----------------------INICIA LOGIN--------------*/
.titulo {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.text-danger {
  color:rgb(250, 89, 89);
  font-size: .9rem;
  padding-bottom: 5px;
  
}
.controls i {
  color: #1f53c5;
  cursor: pointer;
  margin-left: -35px;
}
.controls .far{
  color: rgb(57, 245, 57);
  font-size: 1.3rem;
}
.form-register {
  border: solid 1px black;
  width: 300px;
  background: #5793ce1f;
  padding: 30px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 4px;
  font-family: "calibri";
  color: rgb(70, 64, 22);
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls input{
  width: 100%;
  padding: 9px;
  background: #e7ecf0;
  border-radius: 4px;
  margin-top: 16px;
  font-family: "calibri";
  font-size: 18px;
  border: 1px solid #1f53c5;
  color: rgb(94, 92, 89);
}


.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: rgb(163, 155, 155);
  text-decoration: none;
}

.form-register a:hover {
  color: rgb(114, 110, 110);
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: rgb(235, 232, 207);
  margin: 16px 0;
  font-size: 16px;
}
.botons:hover {
  transition: all;
  background-color: #43f794;
  color: #34495e;
  border-radius: 18px;
}

/*---------------  query TABLET --------------- */

@media screen and (min-width: 768px) {
  .form-register {
    width: 356px;
    margin-top: 95px;
    margin-bottom: 112px;
  }
}
.banner-one {
  display: block;
}
.banner-one h2 {
  text-transform: uppercase;
  margin: 20px 0 0 0;
  text-align: center;
}
.product-main {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  /* border: 3px solid red; */
}

/* carousel one  */
.carousel-container-one .carousel-element img {
  height: 70%;
}
.carousel-container-one .carousel-element p.btn-r {
  position: relative;
  left: 50px;
  bottom: -5px;
}

@media screen and (min-width: 1024px) {
  .form-register {
    width: 500px;
  }

  .product-main .img-container {
    max-width: 321px;
  }
  .main-header .main-nav {
    display: block;
  }
  .main-header .toggle-nav {
    display: none;
  }

  .main-header .icon-btn {
    font-size: 25px;
    padding-left: 10px;
  }
  .search-box {
    display: block;
  }
  .main-footer ul {
    display: flex;
    flex-direction: row;
  }
}
