<!DOCTYPE html>
<html lang="es">
    <!-- HEAD -->
   <%- include("partials/head.ejs") %> 
    <!--FIN-HEAD -->
   <!-- styles -->
   <link rel="stylesheet" href="/stylesheets/darkMode.css">
   <link rel="stylesheet" href="/stylesheets/home.css" />
   <link rel="stylesheet" href="/stylesheets/admin/loginAdministrador.css">
   <link rel="stylesheet" href="/stylesheets/admin/agregar.css">

  <body>
      <!-- HEADER -->
     <%- include("partials/header.ejs") %> 
 <!-- --------------Dark Mode----------------- -->

  <%- include("partials/darkMode.ejs") %> 
 <!-- -----------Fin Dark Mode---------------- -->
        <main id="main-dark">
            <div>
                <h1>Agregar Producto</h1>
                <form action="/admin/agregar" method="POST"   style="margin-top:5.5em">
                    <div class='form caja-agregar'>
                      Marca:<label for=""><input class='input style-admin' type="text" name="marca" id="marca-producto" required placeholder="Nombre del producto"> </label>
                      Descripción:<label for="descripción-producto"><textarea id="descripción-producto" cols="30" rows="10" class='input style-admin'  name="descripcion" required placeholder="Descripción del producto"></textarea></label>
                      Categorías:<label for=""> <select  class='input style-admin' name="categoria" id="categoria-producto">
                        <option value="">Seleccionar categoría</option>
                        <option value="hombre">Hombre</option>
                        <option value="mujer">Mujer</option>
                        <option value="niños">Niños</option>
                      </select> </label>
                      Subcategorías:<label for="">  <select  class='input style-admin' name="subcategoria" id="subcategoria-producto">
                        <option value="">Seleccionar categoría</option>
                        <option value="pantalon">pantalon</option>
                        <option value="remera">remera</option>
                      </select> </label>
                      Colores:<label for=""><select  class='input style-admin' name="color" id="colores-producto">
                        <option value="">Seleccionar color</option>
                        <option value="negro">Negro</option>
                        <option value="blanco">Blanco</option>
                        <option value="azul">Azul</option>
                      </select></label>
                      Talles:<label for=""> <select  class='input style-admin' name="talle" id="talles-producto">
                        <option value="">Seleccionar talle</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                      </select> </label>
                      Precio:<label for=""> <input class='input style-admin' type="number" name="precio" required placeholder="Precio del producto"> </label>
                      Imagen:<label for="imagen-producto"><input class='input style-admin' type="file" name="imagen-producto" multiple  > </label>
                    </div>
                    <div  class='form'>
                        <button type="submit" class='btn-admin style-admin' value="guardar">GUARDAR</button>
                    </div>
                </form>
            </div>

        </main>
    
        <!-------------- FOOTER ------------------------>
       <%- include("partials/footer.ejs") %> 
          <!-------------- FIN-FOOTER ------------------------>
       
 <script src="/javascripts/darkMode.js"></script>
 <script src="/javascripts/home.js"></script>
</body>
</html>