<!DOCTYPE html>
<html class="html-container" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Urban-Sport</title>

    <!-- Font awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Google font Roboto -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
    </style>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/carrito.css" />
    <link rel="stylesheet" href="/stylesheets/variables.css" />
    <link rel="stylesheet" href="/stylesheets/general.css" />
    <link rel="stylesheet" href="/stylesheets/darkMode.css" />

    <!-- Javascript -->
    <script src="/javascripts/darkMode.js" defer></script>
    <script src="/javascripts/carrito.js" defer></script>
  </head>
  <body>
    <!-- Header -->
    <%- include("partials/header.ejs") %>
    <!-- --------------Dark Mode----------------- -->
    <%- include("partials/darkMode.ejs") %>
    <!-- -----------Fin Dark Mode---------------- -->

    <!-- MAIN -->
    <main class="cart-home" id="main-dark">
      <div class="title-cart-container">
        <h2 class="title-cart">Mi Carrito</h2>
        <a href=""><h2 class="keep-buying">Seguir Comprando</h2></a>
      </div>
      <div class="articles-subtitles-div">
        <!-- ARTICLES -->
        <div class="articles-container">
          <article class="product-container">
            <div class="title-trash-div">
              <div class="title-product-div">
                <h3 class="title-product">Nombre del producto</h3>
              </div>
              <div class="trash-icon-div">
                <button>
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
            <div class="img-details-container">
              <div class="img-product-div">
                <img
                  class="img-product"
                  src="/images/image-article.png"
                  alt="Imagen del articulo"
                />
              </div>
              <div class="product-details">
                <p>Talle:</p>
                <p>Item Nº:</p>
                <a href=""><p>Editar</p></a>
                <p class="quantity">Cantidad</p>
                <select name="Cantidad">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <p class="total-article-p">Total</p>
                <p>$ 0</p>
              </div>
            </div>
          </article>
          <article class="product-container">
            <div class="title-trash-div">
              <div class="title-product-div">
                <h3 class="title-product">Nombre del producto</h3>
              </div>
              <div class="trash-icon-div">
                <button>
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
            <div class="img-details-container">
              <div class="img-product-div">
                <img
                  class="img-product"
                  src="/images/image-article.png"
                  alt="Imagen del articulo"
                />
              </div>
              <div class="product-details">
                <p>Talle:</p>
                <p>Item Nº:</p>
                <a href=""><p>Editar</p></a>
                <p class="quantity">Cantidad</p>
                <select name="Cantidad">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <p class="total-article-p">Total</p>
                <p>$ 0</p>
              </div>
            </div>
          </article>
          <article class="product-container">
            <div class="title-trash-div">
              <div class="title-product-div">
                <h3 class="title-product">Nombre del producto</h3>
              </div>
              <div class="trash-icon-div">
                <button>
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
            <div class="img-details-container">
              <div class="img-product-div">
                <img
                  class="img-product"
                  src="/images/image-article.png"
                  alt="Imagen del articulo"
                />
              </div>
              <div class="product-details">
                <p>Talle:</p>
                <p>Item Nº:</p>
                <a href=""><p>Editar</p></a>
                <p class="quantity">Cantidad</p>
                <select name="Cantidad">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <p class="total-article-p">Total</p>
                <p>$ 0</p>
              </div>
            </div>
          </article>
          <article class="product-container">
            <div class="title-trash-div">
              <div class="title-product-div">
                <h3 class="title-product">Nombre del producto</h3>
              </div>
              <div class="trash-icon-div">
                <button>
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
            <div class="img-details-container">
              <div class="img-product-div">
                <img
                  class="img-product"
                  src="/images/image-article.png"
                  alt="Imagen del articulo"
                />
              </div>
              <div class="product-details">
                <p>Talle:</p>
                <p>Item Nº:</p>
                <a href=""><p>Editar</p></a>
                <p class="quantity">Cantidad</p>
                <select name="Cantidad">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <p class="total-article-p">Total</p>
                <p>$ 0</p>
              </div>
            </div>
          </article>
        </div>

        <!-- SUBTITLES PRICE -->
        <div class="promo-shipping-div">
          <div class="promotional-code-div">
            <p class="promotional-code-p">¿Tenés un código de promoción?</p>
            <input type="text" placeholder="Ingresá tu Código" />
            <button>Validar</button>
          </div>
          <div class="input-shipping-cost-div">
            <p class="input-shipping-cost-p">Calculá el costo de envío</p>
            <input type="text" placeholder="Código Postal" />
            <button>Calcular</button>
          </div>
          <div class="cost-shipping-div">
            <p class="cost-shipping-p">Costo de envío.......</p>
            <p>$0</p>
          </div>
          <div class="subtotal-div">
            <p class="subtotal-p">Subtotal.......</p>
            <p>$0</p>
          </div>
          <div class="total-div">
            <p class="total-p">Total.......</p>
            <p class="total-p-price">$0</p>
          </div>
          <div class="buy-button-div">
            <button class="buy-button">Comprar</button>
          </div>
        </div>
      </div>
    </main>

    <!-- ICON ADD PRODUCT -->
    <div class="plus-icon-container">
      <a href="" class="plus-icon"><i class="fas fa-cart-plus"></i></a>
    </div>
    <!-- FOOTER -->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
