<!DOCTYPE html>
<html class="html-container" lang="en">
  <!-- Head -->
  <%- include("partials/head.ejs") %>

  <!-- Styles -->
  <link rel="stylesheet" href="/stylesheets/carrito.css"/>

  <!-- Javascript -->

 
  <body>
    <!-- Header -->
    <%- include("partials/header.ejs") %>
    <!-- --------------Dark Mode----------------- -->
    <%- include("partials/darkMode.ejs") %>
    <!-- -----------Fin Dark Mode---------------- -->

    <!-- MAIN -->
    <main class="cart-home" id="main-dark">
      <div class="title-cart-container">
        <h2 class="title-cart">Mi Carrito</h2>
        <a href=""><h2 class="keep-buying">Seguir Comprando</h2></a>
      </div>
      <!-- <div class="articles-subtitles-div"> -->
        <!-- ARTICLES CART ITEMS-->
        
      <div class="cart-page">
        
        <table>
          <tr>
            <th>product</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
         
        </table>
        
        <div class="container-cart ">

        </div>
        <div class="total-price">
          <table>
            <tr>
              <td>Total</td>
              <td class="final-price">total</td>
            </tr>
          </table>
        </div>
  <!--      <div id="total"></div>

        <tr class="container-cart" id="template-cart">
          <td>
             <div class="cart-info">
               <img src="" alt="">
               <div class="detail-info">
                 <p>name product</p>
                 <small>price</small>
                 <br>
                 <a class="remove" href=""><i class="fas fa-times-circle"></i></a>
               </div>
             </div>
           </td>
           <td ><input id="quantity" type="number" value="1"></td>
           <td class="priceProduct">Price</td>
         </template>
 
         
       <template id="total-cart">
       
       </template> -->
           


      </div>
      


        <!-- SUBTITLES PRICE -->
        <!-- <div class="promo-shipping-div">
          <div class="promotional-code-div">
            <p class="promotional-code-p">¿Tenés un código de promoción?</p>
            <input type="text" placeholder="Ingresá tu Código" />
            <button>Validar</button>
          </div>
          <div class="input-shipping-cost-div">
            <p class="input-shipping-cost-p">Calculá el costo de envío</p>
            <input type="text" placeholder="Código Postal" />
            <button>Calcular</button>
          </div>
          <div class="cost-shipping-div">
            <p class="cost-shipping-p">Costo de envío.......</p>
            <p>$0</p>
          </div>
          <div class="subtotal-div">
            <p class="subtotal-p">Subtotal.......</p>
            <p>$0</p>
          </div>
          <div class="total-div">
            <p class="total-p">Total.......</p>
            <p class="total-p-price">$0</p>
          </div>
          <div class="buy-button-div">
            <button class="buy-button">Comprar</button>
          </div>
        </div>
      </div> -->
    </main>

    <!-- ICON ADD PRODUCT -->
    <div class="plus-icon-container">
      <a href="" class="plus-icon"><i class="fas fa-cart-plus"></i></a>
    </div>
    <!-- FOOTER -->
    <%- include("partials/footer.ejs") %>
    <script src="/javascripts/modal.js" ></script>
   
    <script src="/javascripts/cartShopping.js" ></script>
  </body>
</html>
