<!DOCTYPE html>
<html lang="es">
      <%- include("partials/head.ejs") %> 
       <!-- styles -->
    <link rel="stylesheet" href="/stylesheets/darkMode.css">
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/admin/loginAdministrador.css">
    <link rel="stylesheet" href="/stylesheets/admin/agregar.css">
  <body>
      <!-- HEADER -->
      <%- include("partials/header.ejs") %> 
 <!-- --------------Dark Mode----------------- -->

 <%- include("partials/darkMode.ejs") %> 
 <!-- -----------Fin Dark Mode---------------- -->
        <main>
            <div>
                <h1>Eliminar Producto</h1> 
                <form action="#" method="get"   style="margin-top:1.5em">
                    <div class='form caja-agregar'>
                      <label for="">Producto<input class='input style-admin' type="text" name="nombre-producto-delete"  placeholder="Nombre del producto"> </label>
                      <label for="">Contraseña <input class='input style-admin' type="password" name="password" required placeholder="Contraseña de administrador"> </label>
                    </div>
                    <div  class='form'>
                        <input type="submit" onclick="alert('Estas por eliminar un producto!')" class='btn-admin style-admin' value="Eliminar">
                    </div>
                </form>
            </div>

        </main>
    
        <!-------------- FOOTER ------------------------>
       
        <%- include("partials/footer.ejs") %> 
       
 <script src="/javascripts/darkMode.js"></script>
 <script src="/javascripts/home.js"></script>
</body>
</html>