<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban-Style</title>
    <!-- styles -->
    
    <link rel="stylesheet" href="/stylesheets/variables.css" />
    <link rel="stylesheet" href="/stylesheets/darkMode.css">
    <link rel="stylesheet" href="/stylesheets/product.css">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="main-header">
        <img src="/images/img/logo.png" alt="logotipo" />

        <a href="#" class="toggle-nav">
          <span class="fa fa-bars" onclick="openNav()"></span>
        </a>
        <!-- MENU DESKTOP -->
        <nav class="main-nav">
          <ul>
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Ni침os</a></li>
            <li><a href="#">Novedades</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
        <!-- search box -->
        <div class="search-box">
          <input
            class="search-txt"
            type="text"
            name=""
            placeholder="to search"
          />
          <a href="#" class="search-btn">
            <i class="fas fa-search"></i>
          </a>
        </div>
        <!-- MENU MOBILE -->
        <div id="myNav" class="overlay">
          <!-- <div class="search">
            <input type="text" class="input" placeholder="Search..." />
            <button class="btn-1">
              <i class="fas fa-search"></i>
            </button>
          </div> -->
          <div class="header-overlay">
            <img src="/images/img/logo.png" alt="logotipo" />

            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
              >&times;</a
            >
          </div>

          <nav class="menu-mobile overlay-content">
            <ul class="main-menu">
              <li>
                <a href="#">Hombre <i class="fas fa-angle-right"></i></a>
              </li>
              <li><a href="#">Mujer</a></li>
              <li><a href="#">Ni침os</a></li>
              <li><a href="#">Colecciones</a></li>
              <li><a href="#">Marcas</a></li>
              <li><a href="#">Deportes</a></li>
              <li><a href="#">Training</a></li>
              <li><a href="#">Mi cuenta</a></li>
              <li><a href="#">Buscador de tiendas</a></li>
              <li><a href="#">Ayuda</a></li>
              <li><a href="#">Autogestion de Devolucion</a></li>
              <li><a href="#">Seguimiento de Pedidos</a></li>
            </ul>
          </nav>
        </div>
        <!-- menu del header mobile icons -->
        <div class="icon-btn">
          <i class="fas fa-user"></i>
          <i class="fas fa-shopping-cart"></i>
          <i class="fas fa-heart"></i>
        </div>
      </header>
       <!-- --------------Dark Mode----------------- -->
       <button class="dark-mode" id="dark-mode">
           <span><i class="fas fa-sun"></i></span>
           <span><i class="fas fa-moon"></i></span>
       </button>
       <!-- -----------Fin Dark Mode---------------- -->
    <div class="card-wrapper">
        <div class="card">
            <!-- card left -->
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        <img src="/images/img/t-shirt-5.jpg" alt="shirt-img">
                        <img src="/images/img/t-shirt-2.jpg" alt="shirt-img">
                        <img src="/images/img/t-shirt-3.jpg" alt="shirt-img">
                        <img src="/images/img/t-shirt-4.jpg" alt="shirt-img">
                    </div>
                </div>
                <div class="img-select">
                    <div class="img-item">
                        <a href="#" data-id="1">
                            <img src="/images/img/t-shirt-5.jpg" alt="shirt-img">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="2">
                            <img src="/images/img/t-shirt-2.jpg" alt="shirt-img">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="3">
                            <img src="/images/img/t-shirt-3.jpg" alt="shirt-img">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="4">
                            <img src="/images/img/t-shirt-4.jpg" alt="shirt-img">
                        </a>
                    </div>
                </div>
            </div>
            <!-- card right -->
            <div class="product-content">
                <h2 class="product-title">Urban-Style Remera</h2>
                <a href="#" class="product-link">
                    para m치s visita Urban-Style
                </a>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.7(21)</span>
                </div>
                <div class="product-price">
                  <!--   <p class="last-price">Precio: <span>$257.00</span></p> -->
                    <p class="new-price">precio: <span>$2999.00 </span></p>
                </div>
                <div class="product-detail">
                    <h2>Sobre el producto:</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione facilis ullam cumque consequuntur, ad suscipit minus maxime amet veritatis id nulla quod obcaecati quo nesciunt.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At consequuntur error quis tempore quo iure.</p>
                    <ul>
                        <li>Color: <span>Negro</span></li>
                        <li>Disponibilidad: <span>En stock</span></li>
                        <li>Categoria: <span>Remeras</span></li>
                        <li>Ubicacion: <span>Rosario</span></li>
                        <li>Envio: <span>Gratis</span></li>
                    </ul>
                </div>

                <div class="purchase-info">
                    <input type="number" min="0" value="1">
                    <button type="button" class="btn">
                        Agregar al carrito <i class="fas fa-shopping-cart"></i>
                    </button>
                    <button type="button" class="btn">Comparar</button>
                </div>

                <div class="social-links">
                    <p>Seguinos en:</p>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-container">
        <div class="main-container">
          <div class="logo-container">
            <img src="/images/img/logo.png" class="logo-footer">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe repudiandae quidem quisquam optio exercitationem corrupti eius non facilis.</p>
          </div>
          <ul>
            <li><a href="#">Buscador de tiendas</a></li>
            <li><a href="#">Envio</a></li>
            <li><a href="#">Bot칩n de arrepentimiento</a></li>
            <li><a href="#">Devoluciones</a></li>
          </ul>
          <ul>
            <li><a href="#">Guia de talles</a></li>
            <li><a href="#">Formas de Pago</a></li>
            <li><a href="#">Servicio al cliente</a></li>
            <li><a href="#">servicio@urbansport.com</a></li>
          </ul>
          <div class="newsletter-footer">
            <h3>newslletter</h3>
            <form action="">
              <i class="fas fa-envelope"></i>
              <input type="email" name="name" placeholder="ingresa tu email" required>
              <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
          </div> 
        </div>
        <hr>
          <p class="copyright">Copyright 2021 - Powered by Grupo5</p>
      </footer>
    
       <script src="/javascripts/darkMode.js"></script>
       <script src="/javascripts/mainProduct.js"></script>
</body>
</html>