<!DOCTYPE html>
<html lang="es">
   <%- include("partials/head.ejs") %> 
 <!-- styles -->
 <link rel="stylesheet" href="/stylesheets/variables.css" />
 <link rel="stylesheet" href="/stylesheets/darkMode.css">
 <link rel="stylesheet" href="/stylesheets/registro.css" />
  <body>
    
      <!------------- HEADER -------------------->
         <%- include("partials/header.ejs") %> 
    
       <!-- --------------Dark Mode----------------- -->
       <%- include("partials/darkMode.ejs") %> 
       <!-- -----------Fin Dark Mode---------------- -->
 
    <form  class="form-register"  action="registro" method="POST">
      <h4>Formulario  de Registro</h4>
      <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese su Nombre" required>
      <input class="controls" type="text" name="apellido" id="apellido" placeholder="Ingrese su Apellido" required>
      <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" required>
      <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña" required>
      <p class="condiciones">
        <input type="checkbox" name="terminos" required />
        <label for="terminos">Estoy de acuerdo con <a class="condiciones" href="#">Terminos y condiciones</a></label>
      </p>
     
      <input class="botons" type="submit" value="Registrar" href="#" required/>
      <p class="condiciones"><a class="condiciones" href="http://localhost:3020/login">¿Ya tengo Cuenta?</a></p>
    </form>
   <!-------------- FOOTER ------------------------>
     <%- include("partials/footer.ejs") %> 
      <!--------------FIN- FOOTER ------------------------>
<script src="/javascripts/darkMode.js"></script>
<script src="/javascripts/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
</body>

</html>