<div class="carousel-one">
    <h2 class="title-products">Categorias Destacadas</h2>
    <div class="carousel-container-one">
      <div class="carousel-list-1">
        <div class="carousel-element">
          <img src="images/img/sport-1.jpg" alt="" />
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p class="btn-r">Leer m치s</p>
        </div>

        <div class="carousel-element">
          <img src="images/img/sport-2.jpg" alt="" />
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p class="btn-r">Leer m치s</p>
        </div>
        <div class="carousel-element">
          <img src="images/img/sport-3.jpg" alt="" />
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p class="btn-r">Leer m치s</p>
        </div>
        <div class="carousel-element">
          <img src="images/img/sport-4.jpg" alt="" />
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p class="btn-r">Leer m치s</p>
        </div>
        <div class="carousel-element">
          <img src="images/img/sport-5.jpg" alt="" />
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p class="btn-r">Comprar</p>
        </div>
        <div class="carousel-element">
          <img src="images/img/sport-6.jpg" alt="" />
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p class="btn-r">Comprar</p>
        </div>
      </div>
      <div role="tablist" class="carousel-arrows"></div>
    </div>
  </div>