 <!-- CAROUSEL TWO-->

 <div class="carousel-two">
    <h2 class="title-products">Novedades</h2>
    <div class="carousel-container">
      <button aria-label="Anterior" class="carousel-anterior">
        <i class="fas fa-chevron-left"></i>
      </button>

      <div class="carousel-list">
        <div class="carousel-element">
          <img src="images/img/sport-1.jpg" alt="" />
          <h4>Conjunto sport</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a href="#" class="carousel-btn">Comprar</a>
        </div>

        <div class="carousel-element">
          <img src="images/img/sport-2.jpg" alt="" />
          <h4>Conjunto sport</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a href="#" class="carousel-btn">Comprar</a>
        </div>
        <div class="carousel-element">
          <img src="images/img/sport-3.jpg" alt="" />
          <h4>Conjunto sport</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a href="#" class="carousel-btn">Comprar</a>
        </div>
        <div class="carousel-element">
          <img src="images/img/sport-4.jpg" alt="" />
          <h4>Conjunto sport</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a href="#" class="carousel-btn">Comprar</a>
        </div>
        <div class="carousel-element">
          <img src="images/img/sport-5.jpg" alt="" />
          <h4>Conjunto sport</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a href="#" class="carousel-btn">Comprar</a>
        </div>
        <div class="carousel-element">
          <img src="images/img/sport-6.jpg" alt="" />
          <h4>Conjunto sport</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a href="#" class="carousel-btn">Comprar</a>
        </div>
      </div>

      <button aria-label="Siguiente" class="carousel-siguiente">
        <i class="fas fa-chevron-right"></i>
      </button>

      <div role="tablist" class="carousel-indicadores"></div>
    </div>
  </div>
  <button class="more-btn"><a href="#">Ver mas Productos</a></button>

  <div class="news-letter">
    <h3>Urban-style</h3>
    <p>
      Registrate a nuestro newslletter y obtene un <span>15% off</span> en
      tu primera compra
    </p>
    <div class="purchase-info .btn-info">
      <input
        type="email"
        name=""
        id="email"
        placeholder="ingresa tu email"
      />
      <input type="submit" value="enviar" />
    </div>
  </div>
  <!-- FIN-CAROUSEL-TWO -->