<!-- --------------Dark Mode----------------- -->
<button class="dark-mode" id="dark-mode">
    <span><i class="fas fa-sun"></i></span>
    <span><i class="fas fa-moon"></i></span>
</button>
<!-- -----------Fin Dark Mode---------------- --> 