<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Urban-Sport</title>

  <!-- Font-Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <!-- JS Glider -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js" defer></script>
  <script src="/javascripts/store.js" defer></script>
  <!-- Dark Mode -->
  <link rel="stylesheet" href="/stylesheets/darkMode.css"/>
  <script src="/javascripts/darkMode.js" defer></script>

  <!-- Variables CSS -->
  <link rel="stylesheet" href="/stylesheets/variables.css"/>

  <link rel="stylesheet" href="/stylesheets/home.css">
  <!-- General CSS -->
  <link rel="stylesheet" href="/stylesheets/general.css"/>

  <!-- banner- Carousel -->
  <link rel="stylesheet" href="/stylesheets/banner-one.css">

  <script src="/javascripts/carousel.js" defer></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js " defer></script> 


</head>
