<!DOCTYPE html>
<!------------- HEADER -------------------->
<header class="main-header" id="header-dark">
  <a href="http://localhost:3020/"><img class="header-logo" src="/images/img/logo.png" alt="logotipo" /></a>

  <a href="#" class="toggle-nav">
    <span class="fa fa-bars" onclick="openNav()"></span>
  </a>

  <!-- MENU DESKTOP -->
  <nav class="main-nav">
    <ul>
      <li><a href="#">Hombre</a></li>
      <li><a href="#">Mujer</a></li>
      <li><a href="#">Niños</a></li>
      <li><a href="#">Novedades</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <!-- search box -->
  <div class="search-box">
    <input class="search-txt" type="text" name="" placeholder="Buscar" />
    <a href="#" class="search-btn">
      <i class="fas fa-search"></i>
    </a>
  </div>

  <!-- MENU MOBILE -->
  <div id="myNav" class="overlay">
    <div class="header-overlay">
      <img class="overlay-logo" src="/images/img/logo.png" alt="logotipo" />

      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
    </div>

    <nav class="menu-mobile overlay-content">
      <ul class="main-menu">
        <li>
          <a href="#">Hombre <i class="fas fa-angle-right"></i></a>
        </li>
        <li><a href="#">Mujer</a></li>
        <li><a href="#">Niños</a></li>
        <li><a href="#">Colecciones</a></li>
        <li><a href="#">Marcas</a></li>
        <li><a href="#">Deportes</a></li>
        <li><a href="#">Training</a></li>
        <li><a href="#">Mi cuenta</a></li>
        <li><a href="#">Buscador de tiendas</a></li>
        <li><a href="#">Ayuda</a></li>
        <li><a href="#">Autogestion de Devolucion</a></li>
        <li><a href="#">Seguimiento de Pedidos</a></li>
      </ul>
    </nav>
  </div>

  <!-- menu del header mobile icons -->
  <div class="icon-btn">
      <i onclick="openOverlayUl()" class="fas fa-user"></i>
      <ul class="user-overlay-ul" id="user-overlay-ul">
        <i class="fas fa-sort-up"></i>
        <a href="http://localhost:3020/users/login"><li><i class="fas fa-sign-in-alt"></i>Login</li></a>
        <a href="http://localhost:3020/users/register"><li><i class="fas fa-user-plus"></i>Registrarme</li></a>
        <a href="http://localhost:3020/users/olvidecuenta"><li><i class="fas fa-key"></i>Olvide mi cuenta</li></a>
        <i class="far fa-angle-up" onclick="closeOverlayUl()"></i>
      </ul>
      <a href="http://localhost:3020/products/carrito"><i class="fas fa-shopping-cart"></i></a>
      <a href=""><i class="fas fa-heart"></i></a>
  </div>

<!-- -----------------------Fin Header------------------------- -->
<% if (typeof locals.user != "undefined") { %>
    <h2>hola mundo</h2>
<% } %>
</header>