
      <!DOCTYPE html>
      <!------------- HEADER -------------------->
      <header class="main-header">
        <img src="images/img/logo.png" alt="logotipo" />

        <a href="#" class="toggle-nav">
          <span class="fa fa-bars" onclick="openNav()"></span>
        </a>
        <!-- MENU DESKTOP -->
        <nav class="main-nav">
          <ul>
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Niños</a></li>
            <li><a href="#">Novedades</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
        <!-- search box -->
        <div class="search-box">
          <input
            class="search-txt"
            type="text"
            name=""
            placeholder="to search"
          />
          <a href="#" class="search-btn">
            <i class="fas fa-search"></i>
          </a>
        </div>
        <!-- MENU MOBILE -->
        <div id="myNav" class="overlay">
          <!-- <div class="search">
            <input type="text" class="input" placeholder="Search..." />
            <button class="btn-1">
              <i class="fas fa-search"></i>
            </button>
          </div> -->
          <div class="header-overlay">
            <img src="images/img/logo.png" alt="logotipo" />

            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
              >&times;</a
            >
          </div>

          <nav class="menu-mobile overlay-content">
            <ul class="main-menu">
              <li>
                <a href="#">Hombre <i class="fas fa-angle-right"></i></a>
              </li>
              <li><a href="#">Mujer</a></li>
              <li><a href="#">Niños</a></li>
              <li><a href="#">Colecciones</a></li>
              <li><a href="#">Marcas</a></li>
              <li><a href="#">Deportes</a></li>
              <li><a href="#">Training</a></li>
              <li><a href="#">Mi cuenta</a></li>
              <li><a href="#">Buscador de tiendas</a></li>
              <li><a href="#">Ayuda</a></li>
              <li><a href="#">Autogestion de Devolucion</a></li>
              <li><a href="#">Seguimiento de Pedidos</a></li>
            </ul>
          </nav>
        </div>
        <!-- menu del header mobile icons -->
        <div class="icon-btn">
          <i class="fas fa-user"></i>
          <i class="fas fa-shopping-cart"></i>
          <i class="fas fa-heart"></i>
        </div>
      </header>
      <!-- -----------------------Fin Header------------------------- -->