<!DOCTYPE html>
<!------------- HEADER -------------------->
<header class="main-header" id="header-dark">
  
  <a href="http://localhost:3020/"><img class="header-logo" src="/images/img/logo.png" alt="logotipo" /></a>

  <a href="#" class="toggle-nav">
    <span class="fa fa-bars" onclick="openNav()"></span>
  </a>

  <!-- MENU DESKTOP -->
  <nav class="main-nav">
    <ul>
      <% locals.categories.forEach(category => { %>
        <li >
          <a href="#"><%= category.name %> 
            </a>
            
        </li>
    <% }) %>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <!-- search box -->
  <form action="/search" method="get">
  <div class="search-box">
    
      <input class="search-txt"  type="text" name="keywords" placeholder="Buscar" />
      <button type="submit" class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    
  </div>
</form>
  <!-- MENU MOBILE -->
  <div id="myNav" class="overlay">
    <div class="header-overlay">
      <img class="overlay-logo" src="/images/img/logo.png" alt="logotipo" />

      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
    </div>

    <nav class="menu-mobile overlay-content">
      <ul class="main-menu">
        <li>
          <a href="#">Hombre <i class="fas fa-angle-right"></i></a>
        </li>
         
          <% locals.categories.forEach(category => { %>
              <li >
                
                <a href="#"><%= category.name %> <i class="fas fa-angle-right"></i></a>
                  
              </li>
          <% }) %>
          
        <li><a href="#">Ayuda</a></li>
        <li><a href="#">Autogestion de Devolucion</a></li>
        <li><a href="#">Seguimiento de Pedidos</a></li>
      </ul>
    </nav>
  </div>

  <!-- menu del header mobile icons -->
  <% if (typeof session.user !== 'undefined') { %>
    <div class="icon-btn">
      <i onclick="openOverlayUl()" class="far fa-address-card"></i>
      
      <%- include("./modalSession.ejs") %>

      <a href="http://localhost:3020/products/carrito"><i class="fas fa-cart-plus"></i></a>
      <a href=""><i class="far fa-heart"></i></a>
    </div>
  <% } else { %>
    <div class="icon-btn">
      <i onclick="openOverlayUl()" class="fas fa-user"></i>
      <%- include("./modal.ejs") %>

      <a href="http://localhost:3020/products/carrito"><i class="fas fa-shopping-cart"></i></a>
      <a href=""><i class="fas fa-heart"></i></a>
    </div>
  <% } %> 

  
<!-- -----------------------Fin Header------------------------- -->
</header>