<section class="modal">
    <div class="modal_container">
        <img src="../../../images/logo_transparent.png" alt="" class="modal_img">
        <h3 class="modal_title">
            Bienvenido a Urban-Sport!
        </h3>
        <p class="modal_paragraph">
           <ul class=".user-overlay-ul">
                
                <a href="http://localhost:3020/users/login"><li><i class="fas fa-sign-in-alt"></i> Login</li></a>
                <a href="http://localhost:3020/users/register"><li><i class="fas fa-user-plus"></i> Registrarme</li></a>
                <a href="http://localhost:3020/users/olvidecuenta"><li><i class="fas fa-key"></i> Olvide mi cuenta</li></a>
            </ul>
        </p>
        <a href="/" class="modal_close"> Cerrar </a>
    </div>

</section>
