<!DOCTYPE html>
<h2 class="title-products"><%- title %> </h2>

<section >
  <div class="product-main" id="cards">

  <template  id="template-card">
    <article class="product">
    <div class="card">
      <div class="images-container-main">
        <img class="choreo-src" src="" alt="" />
      </div>
      <h3 class="name-product">Lorem, ipsum dolor.</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing</p>
      <h6></h6>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
      
      <a class="add-cart btn" href="#">Add to Cart</a>
    </div>
  </article>
  </template>


  </div>
</section>
