/* HEADER MOBILE/TABLET */
.cart-header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 15px;
    font-size: 1rem;
    height: fit-content;
    box-shadow: 0px 0px 10px 0px rgb(100 100 100);
    border-bottom: 1px solid black;
}

/* Burger menu */

.cart-header-mobile .burguer-menu-icon {
    order: 0;
    font-size: 30px;
}

.cart-header-mobile .navigation-bar {
    display: flex;
    position: fixed;
    height: 105vh;
    width: 0;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgb(250, 250, 246);
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
    flex-direction: column;
}

.cart-header-mobile .navigation-bar .logo-closebtn-div {
    align-self: center;
    padding: 15px;
}

.cart-header-mobile .navigation-bar .logo-closebtn-div .closebtn {
    position: absolute;
    top: 0px;
    right: 40px;
    font-size: 60px;
}

.cart-header-mobile .menú {
    padding: 50px 0;
}

.cart-header-mobile .menú a {
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-weight: 100;
}

.cart-header-mobile .navigation-bar .logo-closebtn-div .logo {
    width: 100px;
}

/* Logo */

.cart-header-mobile .logo-div {
    order: 1;
    width: 140px;
}

.cart-header-mobile .logo-div .logo {
    width: 100%;
}

/* Boton y barra de búsqueda mobile */

.cart-header-mobile .search-icon {
    order: 2;
    font-size: 26px;
}

.cart-header-mobile .search-icon i {
    cursor: pointer;
}

.cart-header-mobile .search-form-mobile {
    display: none;
    order: 3;
    width: 100%;
    text-align-last: center;
}

.cart-header-mobile .search-bar {
    border: 1px solid var(--secondary);
    border-radius: 50px;
    box-shadow: 0 0 4px rgb(0 0 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 10px 10px;
}

.cart-header-mobile .search-bar input {
    border: none;
    flex-grow: 1;
}

.cart-header-mobile .search-bar input:focus {
    outline: none;
}

.cart-header-mobile .search-bar button {
    border: none;
    background-color: initial;
}

/* Iconos */

.cart-header-mobile .navigation-bar .user-icons-mobile {
    display: flex;
    justify-content: flex-end;
}

.cart-header-mobile .navigation-bar .user-icons-mobile i {
    font-size: 24px;
    margin-left: 10px;
}

.cart-header-mobile .div-icons {
    display: none;
}

/* HEADER DESKTOP */

.cart-header-desktop {
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px 0;
        box-shadow: 0px 0px 20px 0px rgb(100 100 100);
        border-bottom: 1px solid black;
}  

/* Logo */

.cart-header-desktop .logo-div {
    width: 170px;
}

.cart-header-desktop .logo {
    width: 100%;
}

/* Menú */

.cart-header-desktop .menú {
    display: contents;
}

.cart-header-desktop .menú a:hover {
    color: var(--tertiary);
    text-decoration: underline;
}

/* Search bar */

.search-box{
    display: flex;
    background: linear-gradient(30deg, rgb(236, 232, 232), white);
    border-radius: 40px;
    padding: 2px;
}
.search-box a i{
    color: #000;
    font-size: 1.3rem;
}
.search-box a i:hover{
    color: var(--amarillo);
    opacity: .9;
}
.search-box:hover > .search-txt{
    width: 150px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background: #fff;
}
.search-btn{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

/* Icons  */
.cart-header-desktop .header-icons-container {
    display: contents;
    font-size: 26px;
}

/* Media Queries */
/* Tablet */
@media (min-width: 361px){
    .cart-header-mobile .search-bar {
        height: 30px;
        margin: 20px 10px;
        width: 75%;
    }
    .cart-header-mobile .search-bar input {
        font-size: 16px;
    }
    .cart-header-mobile .search-form-mobile {
        text-align: -webkit-center;
    }
    .cart-header-mobile .logo-div {
        order: 1;
        width: 200px;
    }
    .cart-header-mobile .search-icon {
        font-size: 36px;
    }
    .cart-header-mobile .burguer-menu-icon {
        font-size: 45px;
    }
}

/* Desktop */
@media (min-width: 769px){
    .cart-header-mobile {
        display: none;
    }
    .cart-header-desktop {
        display: flex;
    }
}