<!DOCTYPE html>
  <html lang="es">
    <!-- HEAD-->
    <%- include("partials/head.ejs") %>

    <!-- DASHBOARD-->
    <%- include("partials/dashboard.ejs") %>
  <body>
    <div class="admin-content">
      <%-include("partials/header.ejs")%>
      <main>
        <h1>Bienvenido Admin </h1>
        <img src="images/admin/admin/business-3d.png" width="100%" alt=""/>
      </main>
    </div>
  </body>
</html>
