<header>
    <h2>
        <label for="nav-toggle-admin">
            <span class="las la-bars"></span>
        </label>Panel de Productos
    </h2>

    <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search"  placeholder="Buscar aquí"/>
    </div>

    <div class='user-admin'>
        <img src="/images/admin/admin/20190126_104320.jpg" width="40px" height="40px" alt="">
        <div>
            <h4>Administrador</h4>
            <small>Super Admin</small>
        </div>
    </div>
</header>