<div class="sidebar-admin-menu">
    <ul>
      <li>
        <a href="panelProductos" class="active"
          ><span class="lab la-dropbox"></span> <span>Panel de Productos</span>
        </a>
      </li>
      <li>
        <a href="agregar"
          ><span class="las la-plus-circle"></span> <span>Agregar Producto</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="las la-users"></span> <span>Clientes</span></a
        >
      </li>
      <li>
        <a href="/"
          ><span class="las la-user-slash"></span> <span>Salir</span></a
        >
      </li>
    </ul>
  </div>